@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* default */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: 0;
    list-style: none;
    appearance: none;
}

p {
    font-size: 15px;
    padding: 2px;
}

a {
    color: black;
}

h1 {
    font-weight: 800;
    font-size: 1.8rem;
}

h2 {
    font-size: 1.4rem;
}

h3 {
    font-size: 0.87rem;
}

h4 {
    font-size: 0.8rem;
}

h5 {
    font-size: 0.77rem;
}

small {
    font-size: 0.75rem;
}

body {
    font-family: myFont;
    min-height: 100vh;
    display: grid;
    grid-template-columns: 14rem 1fr;
    grid-template-rows: auto 1fr;
    grid-template-areas:
        "sidebar navbar"
        "sidebar main";
    overflow: hidden;
    background-image: none;
}

nav {
    grid-area: navbar;
    background-color: #6A1314;
    padding: 1em;
    width: 100%;
    height: 50px;
}

aside {
    grid-area: sidebar;
    width: 14rem;
    min-height: 100vh;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;

}

aside .top {
    background-color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 0;
}

aside .logo {
    display: flex;
    gap: 1rem;
    align-items: center;
    position: relative;
    margin-top: 20px;
}

aside .sidebar {
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    height: 100vh;
    top: 50px;
    left: 0;
    width: 14rem;
}

.dropdown-content {
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    transition: max-height 0.3s ease-out, opacity 0.3s ease-out;
    
}

/* When the dropdown is active */
.dropdown-content.show {
    max-height: 500px; /* Set a max-height large enough for your content */
    opacity: 1;
}

.nav-item {
    z-index: 1;
    position: relative;
    background-color: white;
}
#sidebar .dropdown-content ul li {
    padding: 0;
    background-color: #f8f8f8;
}

/* sidebar contents */
aside .sidebar a {
    display: flex;
    margin-left: 1rem;
    gap: .5rem;
    align-items: center;
    height: 3.2rem;
    transition: all .1s ease-in;
    text-align: left;
    color: #666;
}

aside .sidebar a span {
    position: absolute;
    left: 200px;
}

aside .sidebar a:hover {
    color: #6A1314;
}

a img {
    transition-duration: .2s;
}

aside .sidebar a:hover > img {
    margin-right: 3px;
}
aside footer {
    color: #666;
    padding: 10px;
    opacity: .5;
    font-weight: lighter;
    position: fixed;
    bottom: 0;
    z-index: 0;
}

.close-btn {
    font-size: 1.5rem;
    cursor: pointer;
    color: #333;
}

main {
    grid-area: main;
    height: calc(100vh - 50px);
    display: flex;
    flex-direction: column;
}

/* heading */
.upperMain {
    padding: 20px;
    text-align: left;
}

.upperMain h1 {
    font-size: 2rem;
    font-weight: bold;
    margin-left: 40px;
    margin-top: 30px;
}

/* content of main */
.content {
    background-color: white;
    padding: 20px;
    border-radius: 4px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    overflow: auto;
    height: auto;
    margin: 40px;
    margin-top: 0px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

/* academic year and evaluation status */
.banner {
    margin: 10px;
    border-left: #6A1314 solid 20px;
    padding: 40px;
    border-radius: 4px;
    /* Rounded edges for consistency */
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;

}

.banner-profile {
    margin: 10px;
    border-left: #6A1314 solid 20px;
    padding: 20px;
    border-radius: 4px;
    /* Rounded edges for consistency */
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}

.banner h3 {
    margin: 0;
    font-size: 20px;
    font-weight: bold;
    color: #000000;
}

.banner p {
    margin-top: 0;
    color: #000;
}

/* Make the dashboard-content a flex container */
.dashboard-content {
    display: flex;
    /* Flexbox layout */
    flex-direction: column;
    /* Stack items vertically */
    gap: 20px;
    /* Space between the cards and charts */
    margin: 0;
    width: 100%;
}

/* Cards container should take up one-third of the space and be horizontally aligned */
.dashboard-cards {
    display: flex;
    flex-direction: row;
    /* Arrange cards horizontally */
    justify-content: space-evenly;
    /* Space the cards evenly */
    gap: 20px;
    /* Space between each card */
    margin: 0;
    width: 100%;
    /* Ensure cards take up full width of container */

}

/* Individual card style */
.card {
    margin: 10px;
    background-color: #F8F8F8;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: box-shadow 0.3s ease-in-out;
    height: 120px;
    width: 260px;
    border: 1px solid #ddd;
    border-radius: 4px;
    /* Rounded edges for consistency */
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}

/* Card info styles */
.card-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.card-info h3 {
    margin: 0;
    font-size: 2rem;
    font-weight: bold;
    color: #666;
}

.card-info p {
    margin: 0;
    font-size: 0.9rem;
    color: #666;
}

.card-icon {
    font-size: 20px;
    color: #6A1314;
}

/* Chart Section Styling */
.charts {
    display: flex;
    flex-wrap: wrap;
    /* Allow wrapping for smaller screens */
    gap: 20px;
    /* Space between charts */
    justify-content: space-between;
    /* Distribute space evenly */
    align-items: flex-start;
    /* Align charts to the top */
    width: 100%;
    background: #f8f9fa;
    /* Light background for contrast */
    padding: 20px;
}

.profile {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    max-width: 600px;
}

.profile-img {
    border-radius: 100%;
    width: 150px;
    height: 150px;
}

/* Individual Chart Styling */
.charts>div {
    flex: 1;
    min-width: 300px;
    max-width: 500px;
    height: 400px;
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 4px;
    /* Rounded edges for consistency */
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
    display: flex;
    /* Center content */
    justify-content: center;
    align-items: center;
}

.rating {
    font-size: 3em;
    /* Large font size for the rating */
    font-weight: bold;
    color: #333;
    /* Dark color for the rating */
    text-align: center;
    /* Center the rating */
    margin-bottom: 20px;
    /* Space below the rating */
    font-style: italic;
}

.center h3,
h5 {
    text-align: center;
    /* Center the evaluation text */
    color: #333;
    /* Dark color for the text */
    margin-top: 10px;
}

.center h3 {
    font-size: 2em;
    /* Size for Excellent/Good text */
    color: #4CAF50;
    /* Green for Excellent/Good */
}

.center h5 {
    font-size: 1.5em;
    /* Size for Satisfactory/Fair/Poor text */
    color: #F44336;
    /* Red for Satisfactory/Fair/Poor */
}

.center {
    text-align: center;
    /* Ensures everything inside is centered */
    margin: 20px;
}

.generate-pdf-btn {
    background-color: #6A1314;
    /* Green background */
    color: white;
    /* White text color */
    padding: 12px 24px;
    /* Add padding for a nice button size */
    font-size: 16px;
    /* Font size */
    border: none;
    /* Remove the default border */
    border-radius: 8px;
    /* Rounded corners */
    cursor: pointer;
    /* Cursor changes to a pointer when hovered */
    transition: background-color 0.3s, transform 0.2s;
    /* Smooth transition on hover */
}

.generate-pdf-btn:hover {
    background-color: #6A1314;
    /* Darker green when hovered */
    transform: translateY(-2px);
    /* Lift the button a little on hover */
}

.generate-pdf-btn:active {
    background-color: #6A1314;
    /* Even darker green when clicked */
    transform: translateY(0);
    /* Remove lift effect when clicked */
}

.generate-pdf-btn:focus {
    outline: none;
    /* Remove the focus outline */
}

#rating {
    flex: .5;
    /* Full width for larger charts */
    max-width: 200;
}

#chart_div_overall,
#combined_div_overall {
    flex: 1;
    /* Full width for larger charts */
    max-width: 1000px;
}

/* Smaller Chart Adjustments */
#myChart {
    flex: 0.5;
    /* Smaller size for MyChart */
    max-width: 300px;
}

/* Larger Chart Adjustments */
#completion_chart,
#completion_daily_chart {
    flex: 1;
    /* Full width for larger charts */
    max-width: 600px;
}

/* Responsive Layout for Small Screens */
@media (max-width: 768px) {
    .charts>div {
        flex: 1 1 100%;
        /* Full width for smaller screens */
        height: 300px;
        /* Reduce height for smaller viewports */
    }
}


.search-filter .form-group input {
    width: 600px;
    border-radius: 3px;
}

.search-container {
    position: relative;
    display: inline-block;
}

/* Style for the input field */
.search-input {
    padding: 10px 30px 10px 10px;
    font-size: 15px;                   
    border-radius: 3px;          
    width: 250px;        
    font-family: myFont;        
}

/* Style for the search icon button */
.search-button {
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);  
    background: none;            
    border: none;               
    font-size: 16px;             
    color: #aaa;                    
    cursor: pointer;
}

/* Focus and hover effects */
.search-input:focus {
    border-color: #007bff;  /* Change border color on focus */
    outline: none;          /* Remove outline on focus */
}

.search-input:hover {
    border-color: #aaa;    /* Change border color on hover */
}

.search-filter .form-group input::placeholder {
    font-family: myFont;
    opacity: .5;
    font-size: 15px;
}

.select-container {
    position: relative;  /* To position the icon inside the dropdown */
    display: inline-block;
    width: 250px;  /* Adjust width as needed */
}

/* Wrapper around the select element */
.select-wrapper {
    position: relative;
}

/* Style for the select dropdown */
.custom-select {
    padding: 12px 30px 12px 10px; /* Add padding to leave space for the icon */
    font-size: 15px;               /* Font size for the dropdown */
    border: 1px solid #ccc;        /* Border color for the dropdown */
    border-radius: 3px;           /* Rounded corners */
    width: 100%;                   /* Full width of the container */
    background-color: #F8F8F8;        /* Background color */
    appearance: none;              /* Remove default dropdown arrow */
    -webkit-appearance: none;      /* For Safari */
    -moz-appearance: none;         /* For Firefox */
    font-family: myFont;
    color: #666;
}

/* Style for the custom dropdown arrow (icon) */
.select-icon {
    position: absolute;
    top: 50%;
    right: 10px;                    /* Position the icon on the right */
    transform: translateY(-50%);     /* Center the icon vertically */
    font-size: 16px;                 /* Size of the icon */
    color: #aaa;                     /* Color of the icon */
    pointer-events: none;            /* Prevent the icon from interfering with the select action */
}

/* Focus and hover effects */
.custom-select:focus {
    border-color: #007bff;          /* Change border color on focus */
    outline: none;                  /* Remove the default outline */
}

/* Hover effect for the select box */
.custom-select:hover {
    border-color: #aaa;             /* Change border color on hover */
}


/* admin-pages elements */
.upperContent {
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.add-btn {
    margin: 0;
    background-color: #6A1314;
    color: #ddd;
    border: none;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    font-size: 15px;
    padding: 12px 30px 12px 30px;
    border-radius: 6px;
    font-family: myFont;
}

.fitler-btn {
    padding: 12px;
    color: #666;
    font-family: myFont;
    font-size: 15px;
    background: none;
    cursor: pointer;
}

.add-btn:hover {
    background-color: #A40000;
}

/* modal css */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: #fefefe;
    padding: 30px;
    border: 1px solid #888;
    border-radius: 10px;
    width: 40%;
    max-width: 600px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);/
}


.modal-header {
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #6A1314;
}

.modal-body {
    padding: 10px;
}

input[type=text],
select,
input[type=number],
input[type=email],
input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    accent-color: #6A1314;
}

/* input[type=text]:focus,
input[type=number]:focus,
input[type=email]:focus,
input[type=password]:focus
select:focus {
    outline: 1px solid #6A1314;
    accent-color: #6A1314;
} */

textarea {
    width: 100%;
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    font-size: 16px;
    resize: none;
    font-family: 'Roboto';
    accent-color: #6A1314;
}

.modal-footer {
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
    padding: 10px;
    border-top: 1px solid #6A1314;
    justify-content: end;
}

.modal-title {
    font-size: 24px;
}

.close {
    cursor: pointer;
    font-size: 28px;
    color: #aaa;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.cancel-btn {
    padding: 10px 20px;
    margin: 5px;
    cursor: pointer;
    background-color: white;
    color: #6A1314;
    border: 1px solid #6A1314;
    border-radius: 7px;
}

.save-btn {
    padding: 10px 20px;
    margin: 5px;
    cursor: pointer;
    background-color: #6A1314;
    color: white;
    border-radius: 7px;
}

.save-btn:hover{
    background-color: #6A1314;
}

.cancel-btn:hover{
    background-color: #d8d8d8;
}

.sortDropDown {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
    margin: 20px;
}

/* table all */
.table table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
    border: 1px solid lightgrey;
}

.table th {
    background-color: #F8F8F8;
    color: #666;
    border: 1px solid #ddd;
    font-weight: lighter;
    padding: 10px;
    text-align: left;
    text-transform: uppercase;
}

.table td {
    border-top: 1px solid lightgrey;
    text-align: left;
    padding: 10px;
    background-color: white;
    color: #666;
    word-wrap: break-word;
    white-space: normal;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 150px; /* Adjust as needed */
}

.action-btns {
    display: flex;
    gap: 10px;
    justify-content: center;
}

.edit-btn {
    background-color: #F8F8F8;
    border: 1px solid #ddd;
    color: #666;
    transition-duration: .2s;
    font-size: 15px;
    text-decoration: none;
    cursor: pointer;
    padding: 5px;
    border-radius: 3px; 
}
.edit-btn img, .delete-btn img {
width: 20px;
height: 20px;
}
.delete-btn {
    background-color: #666;
    border: 1px solid #ddd;
    color: #F8F8F8;
    transition-duration: .2s;
    font-size: 15px;
    text-decoration: none;
    cursor: pointer;
    border-radius: 3px;
    padding: auto;
    padding: 5px;
}

.edit-btn, .delete-btn {
    display: flex; 
    align-items: center; 
    justify-content: center;
    width: auto; 
    height: 35px;
}


.enroll-btn {
    background-color: #0044ff;
    color: white;
    border: none;
    text-decoration: none;
    cursor: pointer;
    padding: 10px;
    border-radius: 7px;
}

.edit-btn:hover {
    background-color: #f5e8ae;
}

.delete-btn:hover {
    background-color: #bb6c71;
}

.table_add-btn {
    background-color: #e4e4e4;
    color: black;
    border: none;
    text-decoration: none;
    cursor: pointer;
    padding: 10px;
    border-radius: 7px;
}

.table_add-btn:hover{
    background-color: #d8d8d8;
}

/* for tables with remove in their cell */
.section-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 25px;
}

.section-details {
    flex: 1;
}

.section-action {
    margin-left: 10px;
}

.section-action .btn {
    padding: 5px 10px;
    font-size: 12px;
    color: white;
    background-color: #f44336;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.section-action .btn:hover {
    background-color: #d32f2f;
    /* Darker red on hover */
}


/* Hide .table-to-cards by default */
.hidden {
    display: none;
}

/* for ranking.php */
/* Styling the container of all departments */
.departments-wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-around;
}

/* Styling each department box */
.department-box {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 7px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
    flex: 1 1 calc(50% - 40px);
    box-sizing: border-box;
    max-width: calc(50% - 40px);
}

/* Table styles */
.department-box .table table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

.department-box .table th,
.department-box .table td {
    padding: 8px 12px;
    border: 1px solid #ddd;
    text-align: left;
}

.department-box .table th {
    background-color: #6A1314;
    color: white;
    font-weight: bold;
}

/* css for account.php page */
.account-roles-faculty, .account-roles-student{
    margin-top: 20px;
}

/* css for survey.php */
.survey-name-label{
    margin-top: 20px;
}

/* css for searh bar  */
.search-results {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
}

.filter-form {
    display: flex;
    gap: 10px;
    /* Adds space between the elements */
    align-items: center;
    /* Vertically aligns the items in the form */
}

.filter,
.search-bar,
.search-btn {
    display: flex;
    align-items: center;
    /* Vertically aligns elements inside each div */
    
}

.search-bar input[type="text"] {
    max-width: 1000px;
    width: 100%;
}

.search-results select{
    background-color: white;
}

.search-btn {
    background-color: #6A1314;
    color: white;
    border: none;
    text-decoration: none;
    cursor: pointer;
    padding: 10px;
    border-radius: 7px;
}

.enroll-btn {
    padding: 5px 10px;
    /* Adjusts padding for better button size */
    cursor: pointer;
}


/* table css for results.php */
.table-results table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

.table-results table th,
.table-results table td {
    padding: 8px 12px;
    border: 1px solid #ddd;
    text-align: left;
    padding: 16px;
}

.table-results table th {
    background-color: #6A1314;
    color: white;
    font-weight: bold;
}

.table-results td:last-child {
    text-align: center; /* Centers the content of the "Actions" column */
}

.view-btn {
    background-color: #F8F8F8;
    border: 1px solid #ddd;
    color: #666;
    text-decoration: none;
    cursor: pointer;
    padding: 8px 15px; 
    border-radius: 3px;
    margin: 5px auto; 
    display: inline-block; 
    text-align: center;
}


.view-btn:hover{
    background-color: #d8d8d8;
}

@font-face {
    font-family: myFont;
    src: url(../assets/font/TT.ttf);
}
/* Hide button above 1101px */
@media (min-width: 1101px) {
    .open-menu {
        display: none;
    }

    .close-btn {
        display: none;
    }
}


@media(max-width:1100px) {
    body {
        grid-template-columns: 1fr;
    }

    main {
        grid-column: 1 / -1;
    }

    aside {
        display: none;
        position: fixed;
        width: 14rem;
        height: 100%;
        background-color: white;
        z-index: 10;
        overflow: auto;
    }

    .show {
        display: block;
    }

    .open-menu {
        color: white;
        margin: 1;
        cursor: pointer;
    }

    .close-btn {
        display: block;
        cursor: pointer;
    }

    nav {
        grid-column: 1 / -1;
        width: 100%;
    }


}

/* dashboard cards */
@media (max-width: 640px) {
    .content {
        width: 100%;
        margin: 0;
        padding: 10px;
    }

    .dashboard-cards {
        display: flex;
        flex-direction: column;
        margin: 10px;
    }

    .upperMain h1 {
        font-size: 2rem;
        font-weight: bold;
        margin-left: 0;
        margin-top: 0;
    }
}

/* table to cards for smaller devices */
@media (max-width: 870px) {
    table {
        display: none;
    }

    /* CSS for cards */
    .table-to-cards {
        display: block;
        border-radius: 8px;
        box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
        padding: 20px;
        margin: 10px;
        margin-bottom: 20px;
        background-color: #ffffff;
        transition: transform 0.2s;
    }

    .ttc-course_code {
        margin-top: 10px;
        color: #6A1314;
        font-weight: bold;
        font-size: 1.2em;
    }

    .ttc-course_name {
        margin-top: 10px;
        font-size: 1.1em;
        color: #333;
        font-weight: 600;
    }

    .ttc-course_description,
    .ttc-course_department {
        margin-top: 10px;
        font-size: 0.9em;
        color: #555;/
    }

    .ttc_btn-edit_course {
        margin-top: 15px;
        width: 100%;
        text-align: center;
    }

    .ttc_btn-delete_course {
        margin-top: 15px;
        width: 100%;
        text-align: center;
    }

    .edit-btn {
        color: white;
        border: none;
        border-radius: 4px;
        padding: 10px 15px;
        cursor: pointer;
        width: 100%;
    }

    .delete-btn {
        color: white;
        border: none;
        border-radius: 4px;
        padding: 10px 15px;
        background-color: red;
        cursor: pointer;
        text-decoration: none;
        display: inline-block;
        width: 100%;
        text-align: center;
    }

    .edit-btn:hover {
        background-color: rgb(0, 89, 255);
    }

    .modal-content {
        width: 90%;
        height: auto;
    }
}